<form action="#">
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--10-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="username">
      <label class="mdl-textfield__label" for="username">Username</label>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--10-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" id="password">
      <label class="mdl-textfield__label" for="password">Password</label>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--10-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
      Login
    </button>
  </div>
  <md-input-container>
  <input mdInput placeholder="Favorite food" value="Sushi">
</md-input-container>
</div>
</form>