<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">App Name</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">App Name</span>
        <ul class="menu-list-item mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">vpn_key</i>
              <a class="" href=""[routerLink] = "['/login']">Login</a>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">insert_drive_file</i>
              <a class="" href=""[routerLink] = "['/register']">Register</a>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">people</i>
              <a class="" href=""[routerLink] = "['/users']">Users</a>
            </span>
          </li>
        </ul>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">&nbsp;</div>
            <div class="mdl-cell mdl-cell--11-col">
              <router-outlet></router-outlet>
            </div>
            <div class="mdl-cell mdl-cell--2-col">&nbsp;</div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>