/* You can add global styles to this file, and also import other style files */
.mdl-textfield {
    width: 100%;
}
.menu-list-item {
    width: 300px;
}
.menu-list-item li span a {
    text-decoration: none;
}
.mdl-data-table {
    width: 100%;
}
.body {
    overflow: hidden;
}